@CHARSET "UTF-8";

footer {
	background-color: #22272D;
	padding: 15px 0;
	margin-top: 15px;
}

footer .container {
	position: relative;
}

#logo-rodape {
	width: 142px;
}

#logo-ips {
	width: 180px;
}

.identification {
	display: inline-block;
	color: white;
}

.social {
	position: absolute;
	top: 0;
	right: 15px;
}

.social li {
	float: left;
	margin-left: 15px;
}

.social a {
	display: block;
	height: 32px;
	width: 32px;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twitter.png);
}
