@CHARSET "UTF-8";

header {
	position: relative;
	background-color: #FF9800;
}

#logo {
	width: 225px;
}

.user {
	color: white;
	position: absolute;
	top: 0;
	right: 15px;
	margin-top: 10px;
}

.menu {
	position: absolute;
	right: 15px;
	bottom: 0;
}